@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');
@import url('//basehold.it/24');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  font-family: 'Merriweather', 'Hoefler Text', Georgia, 'Times New Roman', Times, Roman, serif;
  font-size: 1.125em; /*18 /16 = 1.125*/
  line-height: 24px; /*24 /18 =1.333333 */
  padding: 12px;
  background:	#f7e6ff;
}

/*body{
  margin: 1em; derive from line height
  padding: 1em;
  background-color: #ffffff; color: purple; #E6E6FA lighter purple
}*/

/*nav {
  display: flex;
  flex-wrap: wrap;
}*/

.nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  background:	#eeccff;
  color: #000000;
  padding: 12px;
}
.nav a:hover{
  background: #e6b3ff;
}
.nav li {
  padding-bottom: 6px;
}

nav {
  padding-bottom: 24px;
}

h1{
  font-size:22px;
  padding-bottom: 24px;
  text-align: center;
}

h2 {
  font-weight:bold;
}

h3 {
  font-weight:bold;
  padding-top: 24px;
}

h4 {
  text-align: center;
  font-weight:bold;
  padding-top: 12px;
  padding-bottom: 24px;
}

img {
  display: block;
  max-width: 100%;
  border: 1px solid #000000;
}

p {
  padding-bottom: 24px;
}

figure{
  float: right;
  padding-left: 24px;
}

section:nth-of-type(2n) figure{
  float: left;
  padding-right: 24px;
}

/*figure.family {

}*/

/*Do I have to keep adding media queries everytime it gets bigger? */
@media screen and (min-width: 430px) {
  figure.portrait{
    width: 50%;
  }
}

@media screen and (min-width: 790px) {
  figure.portrait{
    width: 40%;
  }
}

@media screen and (min-width: 1400px) {
  figure.portrait{
    width: 30%;
  }
}

@media screen and (min-width: 360px){
  figure.landscape{
    width: 50%;
  }
}

@media screen and (min-width: 700px){
  figure.landscape{
    width: 40%;
  }
}

@media screen and (min-width: 1400px){
  figure.landscape{
    width: 30%;
  }
}

ul.hobby-list, ul.details-college, ul.res-experience, ul.res-skills{
  list-style-type:disc;
  padding-left: 24px;
}

figcaption {
  font-size: 12px;
  padding-bottom: 12px;
}

footer {
  font-size: 12px;
  padding-top: 24px;
}
